.legal-links{
    @media(max-width: $viewport-xs){
        margin-left: auto;
    }
    
    
    &--right{
        margin-left: 0.9375rem;
    }
    
    &__item{
        @extend .subtitle;
        margin-right: 0.2rem;
        
        @media(max-width: $viewport-xs){
            margin-right: 0.5rem;
        }
        
        &:hover{
            opacity: 0.8;
        }
    }
}