$navFullscreen-font-size: 3rem;
$navFullscreen-line-height: $navFullscreen-font-size * 2;
$navFullscreen-font-size-mobile: 2rem;
$navFullscreen-line-height-mobile: $navFullscreen-font-size-mobile * 2;

.nav-fullscreen{
    position: absolute;
    z-index: 800;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8); 

    &--open{
        display: flex;  
    }
    
    &__items{
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: $navFullscreen-font-size;
        line-height: $navFullscreen-line-height;
        animation: fadeInDown 0.25s ease-in-out;
        
        @media(max-width: 375px){
            font-size: $navFullscreen-font-size-mobile;
            line-height: $navFullscreen-line-height-mobile;
        }
    }
    
    &__link{
			text-decoration: none;        
			color: white;
			transition: color 0.1s ease-in-out;
			
			&:hover{
				color: #CCCCCC;
			}
    }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
}