<header class="section section--header container">
    <div class="header__inner section__inner section__inner--header">
        <div class="header__content">
            <h2 class="subtitle">Paul Borm</h2>
            <h1 class="title title--big">
                Front-End Entwickler <br>
                & Webdesigner
            </h1>
            <a href="#portfolio" class="button">Portfolio <i class="button__icon--right fa fa-arrow-down"></i></a>
            <a href="mailto:info@paulborm.de" class="button button--ghost">Kontakt</a>
        </div>
    </div>
</header>