{% extends "partials/base.html" %}
{% set title = "404 Seite nicht gefunden - " + siteTitle %}

{% block body %}

<header class="section section--header container">
    <div class="section__inner section__inner--header">
        <div class="section__content">
            <h2 class="subtitle">Da ist wohl etwas schief gelaufen</h2>
            <h1 class="title--big">
                Nichts gefunden...
            </h1>
            <a href="/" class="button">Zur Startseite</a>
        </div>
    </div>
</header>

{% endblock %}