{% extends "partials/base.html" %}

{% block body %}

<header class="section section--header container">
    <div class="section__inner section__inner--header">
        <div class="section__content">
            <h2 class="subtitle inline">Paul Borm</h2> 
            <span class="social-links social-links--right">
                <a class="social-links__item" href="https://twitter.com/borm_paul" target="_blank" alt="Twitter - Paul Borm" title="Twitter - Paul Borm"><i class="fa fa-twitter"></i></a>
                <a class="social-links__item" href="http://codepen.io/paulborm" target="_blank" alt="Codepen - Paul Borm" title="Codepen - Paul Borm"><i class="fa fa-codepen"></i></a>
            </span>
            <h1 class="title title--big">
                Front-End Entwickler <br>
                & Webdesigner
            </h1>
            <a href="mailto:info@paulborm.de" class="button">Kontakt</a>
            <a href="#portfolio" class="button button--ghost button--no-action">Portfolio folgt bald</a>
        </div>
    </div>
</header>

{% endblock %}

test